* {
  margin: 0;
  padding: 0;
}

:root {
  --cyan: hsl(185, 75%, 39%);
  --dark-cyan: hsl(229, 23%, 23%);
  --grey: hsl(227, 10%, 46%);
  --grey2: hsl(0, 0%, 59%);
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  background-color: var(--cyan);
  height: 100vh;
}

.bg-top {
  transform: translate(-300px, -500px);
  position: fixed;
}

.bg-bottom {
  position: fixed;
  transform: translate(700px, 350px);
}

.container-bg-bottom {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  width: 350px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-card {
  border-radius: 20px 20px 0 0;
}

.avatar-img {
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -58px;
  margin-left: 50%;
  transform: translateX(-50%)
}

h1 {
  font-size: 1.1rem;
  text-align: center;
}

span {
  color: var(--grey);
  font-weight: 400;
  margin-left: 6px;
}

p {
  text-align: center;
  color: var(--grey);
}

.personal-info {
  margin-top: 15px;
  margin-bottom: 18px;
}

.personal-info p {
  font-size: 0.8rem;
  margin-top: 8px;
}

.divisor {
  height: 0.1px;
  width: 100%;
  background-color: hsla(0, 0%, 59%, 0.446);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 20px;
  text-align: center;
}

.grid p {
  font-size: 0.7rem;
  margin-top: 8px;
  letter-spacing: 0.08rem;
}

.attribution {
  margin-top: -150px;
  text-align: center;
}

.attribution a, .attribution p {
  color:hsl(229, 23%, 23%);
}

.attribution a:hover {
  color: white;
}

@media screen and (max-width: 510px) {
  .bg-top {
    transform: translate(-500px, -400px);
    width: 800px;
  }

  .bg-bottom {
    transform: translate(80px, 500px);
    width: 800px;
  }
}